services:
  backend:
    image: ${DOCKER_USERNAME}/mernchess_backend:latest
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: always

  frontend:
    image: ${DOCKER_USERNAME}/mernchess_frontend:latest
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
