.sidebar {
  width: 200px;
  background: #eee;
  padding: 1rem;
  height: 100vh;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.5rem 0;
  cursor: pointer;
}

.menuItem:hover {
  background: #f4f4f4;
}
