.container {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 1rem;
  position: relative;
}

.profileContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.input {
  margin-left: 1rem;
  margin-top: 3rem
}

.button{
  margin-left: 3rem;
  
}
