name: Mernchess Backend CI
on:
  workflow_call: # Masterから呼ばれるためのトリガー

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./chess
    env:
      DATABASE_URL: mongodb://dummy_url
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      NODE_ENV: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "./chess/backend/package-lock.json"
      - run: npm install
      - run: npm run lint
      - run: npm test

  build-and-push:
    needs: lint-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./chess/backend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mernchess_backend:latest
