name: Master Deployment Pipeline
on:
  push:
    branches: [master]

jobs:
  backend-ci:
    uses: ./.github/workflows/backend-ci.yaml
    secrets: inherit # 全てのSecretを子Workflowに継承

  frontend-ci:
    uses: ./.github/workflows/frontend-ci.yaml
    secrets: inherit

  deploy:
    needs: [backend-ci, frontend-ci] # 両方が成功したら実行
    runs-on: ubuntu-latest
    steps:
      - name: SSH to EC2 and Update
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: MONGO_URI, JWT_SECRET, DOCKER_USERNAME
          script: |
            cd ~/mern_chess
            echo "MONGO_URI=$MONGO_URI" > .env
            echo "JWT_SECRET=$JWT_SECRET" >> .env
            echo "DOCKER_USERNAME=$DOCKER_USERNAME" >> .env
            echo "PORT=5000" >> .env

            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f
