name: Master Deployment Pipeline
on:
  push:
    branches: [master]

jobs:
  backend-ci:
    uses: ./.github/workflows/backend-ci.yaml
    secrets: inherit

  frontend-ci:
    uses: ./.github/workflows/frontend-ci.yaml
    secrets: inherit

  deploy:
    needs: [backend-ci, frontend-ci]
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure and Deploy
        run: |

          cat <<EOF | sudo tee .env > /dev/null
          DB_URL=${{ secrets.MONGO_URI }}
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
          CLIENT_URL=https://chesspuzzlekappa54.me
          PORT=5000
          EOF

          sudo docker compose pull
          sudo docker compose up -d --remove-orphans

          sudo docker system prune -f

      - name: Verify Nginx
        run: |
          CONTAINER="mern_nginx"
          sleep 10
          if [ "$(sudo docker inspect -f '{{.State.Running}}' $CONTAINER 2>/dev/null)" = "true" ]; then
            sudo docker exec $CONTAINER nginx -t && sudo docker exec $CONTAINER nginx -s reload
          else
            echo "Deployment failed. $CONTAINER is not running."
            sudo docker logs $CONTAINER
            exit 1
          fi
