name: Deploy MERN Chess App

on:
  push:
    branches: [master]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./chess/backend
          push: true
          # ここを指定したレポジトリ名に変更
          tags: ${{ secrets.DOCKER_USERNAME }}/mernchess_backend:latest

      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./chess/frontend
          push: true
          # ここを指定したレポジトリ名に変更
          tags: ${{ secrets.DOCKER_USERNAME }}/mernchess_frontend:latest
          build-args: |
            VITE_API_URL=http://${{ secrets.EC2_HOST }}/api

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH to EC2 and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: MONGO_URI, JWT_SECRET
          script: |
            cd ~/mern_chess

            # サーバー側の.env更新
            echo "MONGO_URI=$MONGO_URI" > .env
            echo "JWT_SECRET=$JWT_SECRET" >> .env
            echo "PORT=5000" >> .env

            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f
