name: Master Deployment Pipeline
on:
  push:
    branches: [master]

jobs:
  backend-ci:
    uses: ./.github/workflows/backend-ci.yaml
    secrets: inherit

  frontend-ci:
    uses: ./.github/workflows/frontend-ci.yaml
    secrets: inherit

  deploy:
    needs: [backend-ci, frontend-ci]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # STEP 1: PRE-CLEANUP
      # This deletes the "fake" directories Docker creates when files are missing
      - name: Pre-deployment Cleanup
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            rm -rf ~/mern_chess/nginx/nginx.conf
            rm -rf ~/mern_chess/nginx/prod.conf
            mkdir -p ~/mern_chess/nginx
            : > ~/mern_chess/nginx/prod.conf

      # STEP 2: TRANSFER ACTUAL FILES
      # This sends your real configuration files to the server
      - name: Copy deployment files to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yaml,nginx/, chess/src/"
          target: "~/mern_chess"
          strip_components: 0

      # STEP 3: CONFIGURE AND START
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/mern_chess

            # Create the production .env file
            cat <<EOF > .env
            DB_URL=${{ secrets.MONGO_URI }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            CLIENT_URL=http://${{ secrets.DROPLET_IP }}
            PORT=5000
            EOF

            # Deploy containers
            docker compose pull
            docker compose up -d --remove-orphans

            # Wait for Nginx to attempt startup
            sleep 30

            # FINAL CHECK: Only reload if Nginx is actually running
            if [ "$(docker inspect -f '{{.State.Running}}' $NGINX)" = "true" ]; then
            docker exec $NGINX nginx -t && docker exec $NGINX nginx -s reload
            else
              docker logs $NGINX
              exit 1
            fi
