name: Master Deployment Pipeline
on:
  push:
    branches: [master]

jobs:
  backend-ci:
    uses: ./.github/workflows/backend-ci.yaml
    secrets: inherit # 全てのSecretを子Workflowに継承

  frontend-ci:
    uses: ./.github/workflows/frontend-ci.yaml
    secrets: inherit

  deploy:
    needs: [backend-ci, frontend-ci] # 両方が成功したら実行
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy docker-compose.yml to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yaml"
          target: "~/mern_chess"

      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        env:
          MONGO_URI: ${{ secrets.MONGO_URI}}
          JWT_SECRET: ${{ secrets.JWT_SECRET}}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME}}
          CLIENT_URL: ${{ secrets.DROPLET_IP }}
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: MONGO_URI, JWT_SECRET, DOCKER_USERNAME
          script: |
            cd ~/mern_chess
            [ -d nginx/nginx.conf ] && rm -rf nginx/nginx.conf
            [ -d nginx/prod.conf ] && rm -rf nginx/prod.conf
            cat <<EOF > .env
            DB_URL=${{ secrets.MONGO_URI }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            CLIENT_URL=http://${{ secrets.DROPLET_IP }}
            PORT=5000
            EOF

            docker compose pull
            docker compose up -d --remove-orphans
            docker exec mern_nginx nginx -t && docker exec mern_nginx nginx -s reload
