name: Master Deployment Pipeline
on:
  push:
    branches: [master]

jobs:
  backend-ci:
    uses: ./.github/workflows/backend-ci.yaml
    secrets: inherit # 全てのSecretを子Workflowに継承

  frontend-ci:
    uses: ./.github/workflows/frontend-ci.yaml
    secrets: inherit

  deploy:
    needs: [backend-ci, frontend-ci] # 両方が成功したら実行
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy docker-compose.yml to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yaml"
          target: "~/mern_chess"

      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        env:
          MONGO_URI: ${{ secrets.MONGO_URI}}
          JWT_SECRET: ${{ secrets.JWT_SECRET}}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME}}

        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: MONGO_URI, JWT_SECRET, DOCKER_USERNAME
          script: |
            cd ~/mern_chess
            # Create the .env file dynamically
            echo "MONGO_URI=$MONGO_URI" > .env
            echo "JWT_SECRET=$JWT_SECRET" >> .env
            echo "DOCKER_USERNAME=$DOCKER_USERNAME" >> .env
            echo "PORT=5000" >> .env

            # Now that the YAML and .env are ready, run Docker
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f
